@import '../variables.scss';

.root {
  max-width: 1000px;
  padding: 24px;
  margin: 24px;
  border: 10px solid $primary-color;
  position: relative;
}

.inventory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  margin-bottom: 12px;
  text-align: center;
}

.item {
  margin: 6px;
  cursor: pointer;
}

.dialog {
  padding: 24px;
  border: 10px solid $primary-color;
  background-color: $light-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;

  .dialogheader {
    margin-bottom: 12px;
  }

  .countercontainer {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }
}

.backBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
